<ion-header no-border>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <!--<ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>-->
            <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Prinipal</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="/assets/icon/logoAsistencia.png"></ion-img>
</ion-content>