<app-header titulo="Desarrolladores"></app-header>
<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
      
        <ion-buttons slot="end">
            <ion-avatar>
                <img src="/assets/icon/AngelPaqui.PNG">
            </ion-avatar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>-->
<!--
<ion-chip color="primary" *ngFor="let i of [1,1,1,1]">
    <ion-avatar>
        <img src="/assets/icon/AngelPaqui.PNG">
    </ion-avatar>
    <ion-label>Angel Paqui</ion-label>
</ion-chip>-->

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let item of [1]">
            <ion-avatar>
                <img src="/assets/icon/favicon.png">
            </ion-avatar>
            <ion-label>Katherine González
                <p>kgonzaleza2@est.ups.edu.ec</p>
            </ion-label>

        </ion-item>

    </ion-list>
    <ion-list>
        <ion-item *ngFor="let item of [1]">
            <ion-avatar>
                <img src="/assets/icon/favicon.png">
            </ion-avatar>
            <ion-label>Jafet Galvezn
                <p>jgalvez@est.ups.edu.ec</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item *ngFor="let item of [1]">
            <ion-avatar>
                <img src="/assets/icon/AngelPaqui.PNG">
            </ion-avatar>
            <ion-label>Angel Paqui
                <p>apaquig@est.ups.edu.ec</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item *ngFor="let item of [1]">
            <ion-avatar>
                <img src="/assets/icon/favicon.png">
            </ion-avatar>
            <ion-label>Jorge Sanisaca
                <p>jsanisaca@est.ups.edu.ec</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>