<app-header titulo="Acerca de"></app-header>
<ion-content padding>
    <!--   <ion-button expand="full" color="primary" (click)="presentActionSheet()">
        Mostrar Accion Shet
    </ion-button>
    -->
    <ion-label class="texto">Aplicación Móvil</ion-label>
    <ion-img src="/assets/icon/iconInformation.png" id="icono"></ion-img>
    <ion-text color="dark">
        <h6>Aplicación móvil creada con el fin de permitir a los docentes tener un control de asietncia de sus estudiantes desde una aplicación móvil </h6>
    </ion-text>
</ion-content>